<!DOCTYPE html>
<html>

<head>
    <title>Admin Page</title>
</head>

<body>
    <% users.forEach(user => {%>
        <tr>
            <td>
                Username: <%= user.username %>
                <br>
                Type: <%= user.type %>
                <form action="/admin/promote" method="post">
                    <input type="hidden" name="userId" value="<%= user._id %>">
                    <button value="administrator" <%= user.type="administrator" ? "selected" : "" %>>Promote to Admin</button>
                </form>
                <form action="/admin/demote" method="post">
                    <input type="hidden" name="userId" value="<%= user._id %>">
                    <button value="user" <%=user.type="user" ? "selected" : "" %>>Demote to User</button>
                </form>
            </td>
        </tr>
        <br>
    <%})%>

</body>

</html>